<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>じゃんけんゲーム</title>
</head>

<body>

  <div>
    <a href="/jankengame?hand=Gu">ぐー</a>
    <a href="/jankengame?hand=Choki">ちょき</a>
    <a href="/jankengame?hand=Pa">ぱー</a>
  </div>

    <h2>あなたの手</h2>
    <div th:if="${player_hand}">
      <p>[[${player_hand}]]</p>
    </div>
    <h2>CPUの手</h2>
    <div th:if="${cpu_hand}">
      <p>[[${cpu_hand}]]</p>
    </div>
    <h2>結果</h2>
    <div th:if="${result}">
      <p>[[${result}]]</p>
    </div>
  

  <div>
    <p>エントリー</p>
    <ul>
      <li th:each="user : ${users}">[[${user}]]</li>
    </ul>
  </div>

  <a href="/logout">ログアウト</a>

</body>

</html>
